<!DOCTYPE html>
<html>
  <head>
    <title>Concert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


 <body>

 	<div class="flag">
	  			<h1> Music Concert Network</h1>
	</div>

		  	<br>
		    <%= yield %>
		    <br>
	
	    <div class="foot">
	    	<footer> Keep your ears to the streets... </footer>
	    </div>
	

</body>
</html>
