<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	
	<dict>
		<key>name</key>
		<string>iPhone - Home</string>

		<key>fileSizeWidth</key>
		<integer>120</integer>
		<key>fileSizeHeight</key>
		<integer>120</integer>
		<key>fileOriginX</key>
		<integer>336</integer>
		<key>fileOriginY</key>
		<integer>753</integer>
		
		<key>backgroundResource</key>
		<string>iPhone-Home</string>
		<key>maskResource</key>
		<string>Squircle_120</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone - Settings</string>

		<key>fileSizeWidth</key>
		<integer>58</integer>
		<key>fileSizeHeight</key>
		<integer>58</integer>
		<key>fileOriginX</key>
		<integer>30</integer>
		<key>fileOriginY</key>
		<integer>758</integer>
		
		<key>backgroundResource</key>
		<string>iPhone-Settings</string>
		<key>maskResource</key>
		<string>Squircle_58</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone - Spotlight</string>

		<key>fileSizeWidth</key>
		<integer>80</integer>
		<key>fileSizeHeight</key>
		<integer>80</integer>
		<key>fileOriginX</key>
		<integer>30</integer>
		<key>fileOriginY</key>
		<integer>242</integer>
		
		<key>backgroundResource</key>
		<string>iPhone-Spotlight</string>
		<key>maskResource</key>
		<string>Squircle_80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone - Lock</string>
		
		<key>fileSizeWidth</key>
		<integer>744</integer>
		<key>fileSizeHeight</key>
		<integer>1392</integer>
		<key>fileOriginX</key>
		<integer>-52</integer>
		<key>fileOriginY</key>
		<integer>-128</integer>
		
		<key>blendResource</key>
		<string>iPhone-Lock</string>
	</dict>

	<dict>
		<key>name</key>
		<string>iPhone - Wallpaper</string>
		
		<key>fileSizeWidth</key>
		<integer>744</integer>
		<key>fileSizeHeight</key>
		<integer>1392</integer>
		<key>fileOriginX</key>
		<integer>-52</integer>
		<key>fileOriginY</key>
		<integer>-128</integer>
		
		<key>overlayResource</key>
		<string>iPhone-Wallpaper</string>
	</dict>

	<dict>
		<key>name</key>
		<string>iPhone 6 - Home</string>
		
		<key>fileSizeWidth</key>
		<integer>120</integer>
		<key>fileSizeHeight</key>
		<integer>120</integer>
		<key>fileOriginX</key>
		<integer>402</integer>
		<key>fileOriginY</key>
		<integer>750</integer>
		
		<key>backgroundResource</key>
		<string>iPhone6-Home</string>
		<key>maskResource</key>
		<string>Squircle_120</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 - Settings</string>
		
		<key>fileSizeWidth</key>
		<integer>58</integer>
		<key>fileSizeHeight</key>
		<integer>58</integer>
		<key>fileOriginX</key>
		<integer>29</integer>
		<key>fileOriginY</key>
		<integer>773</integer>
		
		<key>backgroundResource</key>
		<string>iPhone6-Settings</string>
		<key>maskResource</key>
		<string>Squircle_58</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 - Spotlight</string>
		
		<key>fileSizeWidth</key>
		<integer>80</integer>
		<key>fileSizeHeight</key>
		<integer>80</integer>
		<key>fileOriginX</key>
		<integer>30</integer>
		<key>fileOriginY</key>
		<integer>225</integer>
		
		<key>backgroundResource</key>
		<string>iPhone6-Spotlight</string>
		<key>maskResource</key>
		<string>Squircle_80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 - Lock</string>
		
		<key>fileSizeWidth</key>
		<integer>852</integer>
		<key>fileSizeHeight</key>
		<integer>1608</integer>
		<key>fileOriginX</key>
		<integer>-51</integer>
		<key>fileOriginY</key>
		<integer>-137</integer>
		
		<key>blendResource</key>
		<string>iPhone6-Lock</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 - Wallpaper</string>
		
		<key>fileSizeWidth</key>
		<integer>852</integer>
		<key>fileSizeHeight</key>
		<integer>1608</integer>
		<key>fileOriginX</key>
		<integer>-51</integer>
		<key>fileOriginY</key>
		<integer>-137</integer>
		
		<key>overlayResource</key>
		<string>iPhone6-Wallpaper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 - My Watch</string>
		
		<key>fileSizeWidth</key>
		<integer>58</integer>
		<key>fileSizeHeight</key>
		<integer>58</integer>
		<key>fileOriginX</key>
		<integer>30</integer>
		<key>fileOriginY</key>
		<integer>212</integer>
		
		<key>backgroundResource</key>
		<string>iPhone6-MyWatch</string>
		<key>maskResource</key>
		<string>Circle_58</string>
	</dict>

	<dict>
		<key>name</key>
		<string>iPhone 6 Plus - Home</string>
		
		<key>fileSizeWidth</key>
		<integer>180</integer>
		<key>fileSizeHeight</key>
		<integer>180</integer>
		<key>fileOriginX</key>
		<integer>673</integer>
		<key>fileOriginY</key>
		<integer>1314</integer>
		
		<key>backgroundResource</key>
		<string>iPhone6Plus-Home</string>
		<key>maskResource</key>
		<string>Squircle_180</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus - Settings</string>
		
		<key>fileSizeWidth</key>
		<integer>87</integer>
		<key>fileSizeHeight</key>
		<integer>87</integer>
		<key>fileOriginX</key>
		<integer>60</integer>
		<key>fileOriginY</key>
		<integer>1129</integer>
		
		<key>backgroundResource</key>
		<string>iPhone6Plus-Settings</string>
		<key>maskResource</key>
		<string>Squircle_87</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus - Spotlight</string>
		
		<key>fileSizeWidth</key>
		<integer>120</integer>
		<key>fileSizeHeight</key>
		<integer>120</integer>
		<key>fileOriginX</key>
		<integer>54</integer>
		<key>fileOriginY</key>
		<integer>359</integer>
		
		<key>backgroundResource</key>
		<string>iPhone6Plus-Spotlight</string>
		<key>maskResource</key>
		<string>Squircle_120</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus - Lock</string>
		
		<key>fileSizeWidth</key>
		<integer>2662</integer>
		<key>fileSizeHeight</key>
		<integer>2662</integer>
		<key>fileOriginX</key>
		<integer>-710</integer>
		<key>fileOriginY</key>
		<integer>-227</integer>
		
		<key>blendResource</key>
		<string>iPhone6Plus-Lock</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus - Wallpaper</string>
		
		<key>fileSizeWidth</key>
		<integer>2662</integer>
		<key>fileSizeHeight</key>
		<integer>2662</integer>
		<key>fileOriginX</key>
		<integer>-710</integer>
		<key>fileOriginY</key>
		<integer>-227</integer>
		
		<key>overlayResource</key>
		<string>iPhone6Plus-Wallpaper</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus - My Watch</string>
		
		<key>fileSizeWidth</key>
		<integer>87</integer>
		<key>fileSizeHeight</key>
		<integer>87</integer>
		<key>fileOriginX</key>
		<integer>58</integer>
		<key>fileOriginY</key>
		<integer>316</integer>
		
		<key>backgroundResource</key>
		<string>iPhone6Plus-MyWatch</string>
		<key>maskResource</key>
		<string>Circle_87</string>
	</dict>

	<dict>
		<key>name</key>
		<string>iPad - Landscape</string>

		<key>fileSizeWidth</key>
		<integer>152</integer>
		<key>fileSizeHeight</key>
		<integer>152</integer>
		<key>fileOriginX</key>
		<integer>163</integer>
		<key>fileOriginY</key>
		<integer>969</integer>
		
		<key>backgroundResource</key>
		<string>iPad-Home-Landscape</string>
		<key>maskResource</key>
		<string>Squircle_152</string>
	</dict>

	<dict>
		<key>name</key>
		<string>iPad - Portrait</string>
		
		<key>fileSizeWidth</key>
		<integer>152</integer>
		<key>fileSizeHeight</key>
		<integer>152</integer>
		<key>fileOriginX</key>
		<integer>163</integer>
		<key>fileOriginY</key>
		<integer>1478</integer>
		
		<key>backgroundResource</key>
		<string>iPad-Home-Portrait</string>
		<key>maskResource</key>
		<string>Squircle_152</string>
	</dict>

</array>
</plist>
