<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>iPhone - Portrait</string>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>480</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>iPhone - Landscape</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>320</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>iPhone (Retina) - Portrait</string>
		<key>width</key>
		<integer>640</integer>
		<key>height</key>
		<integer>960</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>iPhone (Retina) - Landscape</string>
		<key>width</key>
		<integer>960</integer>
		<key>height</key>
		<integer>640</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>

	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>iPhone 5 - Portrait</string>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>568</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>iPhone 5 - Landscape</string>
		<key>width</key>
		<integer>568</integer>
		<key>height</key>
		<integer>320</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>iPhone 5 (Retina) - Portrait</string>
		<key>width</key>
		<integer>640</integer>
		<key>height</key>
		<integer>1136</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>iPhone 5 (Retina) - Landscape</string>
		<key>width</key>
		<integer>1136</integer>
		<key>height</key>
		<integer>640</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>

	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>iPad - Portrait</string>
		<key>width</key>
		<integer>768</integer>
		<key>height</key>
		<integer>1024</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>iPad - Landscape</string>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>768</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>iPad (Retina) - Portrait</string>
		<key>width</key>
		<integer>1536</integer>
		<key>height</key>
		<integer>2048</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>iPad (Retina) - Landscape</string>
		<key>width</key>
		<integer>2048</integer>
		<key>height</key>
		<integer>1536</integer>
		<key>platform</key>
		<string>iOS</string>
	</dict>

	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>Android - Small</string>
		<key>width</key>
		<integer>240</integer>
		<key>height</key>
		<integer>320</integer>
		<key>platform</key>
		<string>Android</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Android - Medium</string>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>480</integer>
		<key>platform</key>
		<string>Android</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>Android - Large</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>800</integer>
		<key>platform</key>
		<string>Android</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>Android - 7" Tablet</string>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>600</integer>
		<key>platform</key>
		<string>Android</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>Android - 10" Tablet</string>
		<key>width</key>
		<integer>1280</integer>
		<key>height</key>
		<integer>800</integer>
		<key>platform</key>
		<string>Android</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>640 × 480</string>
		<key>width</key>
		<integer>640</integer>
		<key>height</key>
		<integer>480</integer>
		<key>platform</key>
		<string>Windows</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>800 × 600</string>
		<key>width</key>
		<integer>800</integer>
		<key>height</key>
		<integer>600</integer>
		<key>platform</key>
		<string>Windows</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>1024 × 768</string>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>768</integer>
		<key>platform</key>
		<string>Windows</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>1280 × 800</string>
		<key>width</key>
		<integer>1280</integer>
		<key>height</key>
		<integer>800</integer>
		<key>platform</key>
		<string>Windows</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>480i</string>
		<key>width</key>
		<integer>640</integer>
		<key>height</key>
		<integer>480</integer>
		<key>platform</key>
		<string>TV</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>720p</string>
		<key>width</key>
		<integer>1280</integer>
		<key>height</key>
		<integer>720</integer>
		<key>platform</key>
		<string>TV</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>1080p</string>
		<key>width</key>
		<integer>1920</integer>
		<key>height</key>
		<integer>1080</integer>
		<key>platform</key>
		<string>TV</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>MacBook Air 11"</string>
		<key>width</key>
		<integer>1366</integer>
		<key>height</key>
		<integer>768</integer>
		<key>platform</key>
		<string>Mac</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>MacBook Air 13"</string>
		<key>width</key>
		<integer>1440</integer>
		<key>height</key>
		<integer>900</integer>
		<key>platform</key>
		<string>Mac</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>MacBook Pro 13"</string>
		<key>width</key>
		<integer>1280</integer>
		<key>height</key>
		<integer>800</integer>
		<key>platform</key>
		<string>Mac</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>MacBook Pro 15"</string>
		<key>width</key>
		<integer>1440</integer>
		<key>height</key>
		<integer>900</integer>
		<key>platform</key>
		<string>Mac</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>MacBook Pro 17"</string>
		<key>width</key>
		<integer>1920</integer>
		<key>height</key>
		<integer>1200</integer>
		<key>platform</key>
		<string>Mac</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>iMac 21.5"</string>
		<key>width</key>
		<integer>1920</integer>
		<key>height</key>
		<integer>1080</integer>
		<key>platform</key>
		<string>Mac</string>
	</dict>
	<dict>
		<key>enabled</key>
		<false/>
		<key>name</key>
		<string>iMac 27"</string>
		<key>width</key>
		<integer>2560</integer>
		<key>height</key>
		<integer>1440</integer>
		<key>platform</key>
		<string>Mac</string>
	</dict>
	<dict>
		<key>disabled</key>
		<false/>
		<key>name</key>
		<string>Dribbble Upload</string>
		<key>width</key>
		<integer>400</integer>
		<key>height</key>
		<integer>300</integer>
		<key>platform</key>
		<string>Other</string>
	</dict>
</array>
</plist>
