<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>LucidaGrande</string>
	<string>LucidaGrande-Bold</string>
	<string>HelveticaNeue</string>
	<string>HelveticaNeue-Bold</string>
	<string>HelveticaNeue-BoldItalic</string>
	<string>HelveticaNeue-CondensedBlack</string>
	<string>HelveticaNeue-CondensedBold</string>
	<string>HelveticaNeue-Italic</string>
	<string>HelveticaNeue-Light</string>
	<string>HelveticaNeue-LightItalic</string>
	<string>HelveticaNeue-Medium</string>
	<string>HelveticaNeue-MediumItalic</string>
	<string>HelveticaNeue-UltraLight</string>
	<string>HelveticaNeue-UltraLightItalic</string>
	<string>HelveticaNeue-Thin</string>
	<string>HelveticaNeue-ThinItalic</string>
	<string>SanFranciscoDisplay-Black</string>
	<string>SanFranciscoDisplay-Bold</string>
	<string>SanFranciscoDisplay-Heavy</string>
	<string>SanFranciscoDisplay-Light</string>
	<string>SanFranciscoDisplay-Medium</string>
	<string>SanFranciscoDisplay-Regular</string>
	<string>SanFranciscoDisplay-Semibold</string>
	<string>SanFranciscoDisplay-Thin</string>
	<string>SanFranciscoDisplay-Ultralight</string>
	<string>SanFranciscoRounded-Black</string>
	<string>SanFranciscoRounded-Bold</string>
	<string>SanFranciscoRounded-Heavy</string>
	<string>SanFranciscoRounded-Light</string>
	<string>SanFranciscoRounded-Medium</string>
	<string>SanFranciscoRounded-Regular</string>
	<string>SanFranciscoRounded-Semibold</string>
	<string>SanFranciscoRounded-Thin</string>
	<string>SanFranciscoRounded-Ultralight</string>
	<string>SanFranciscoText-Bold</string>
	<string>SanFranciscoText-BoldG1</string>
	<string>SanFranciscoText-BoldG2</string>
	<string>SanFranciscoText-BoldG3</string>
	<string>SanFranciscoText-BoldItalic</string>
	<string>SanFranciscoText-BoldItalicG1</string>
	<string>SanFranciscoText-BoldItalicG2</string>
	<string>SanFranciscoText-BoldItalicG3</string>
	<string>SanFranciscoText-Heavy</string>
	<string>SanFranciscoText-HeavyItalic</string>
	<string>SanFranciscoText-Light</string>
	<string>SanFranciscoText-LightItalic</string>
	<string>SanFranciscoText-Medium</string>
	<string>SanFranciscoText-MediumItalic</string>
	<string>SanFranciscoText-Regular</string>
	<string>SanFranciscoText-RegularG1</string>
	<string>SanFranciscoText-RegularG2</string>
	<string>SanFranciscoText-RegularG3</string>
	<string>SanFranciscoText-RegularItalic</string>
	<string>SanFranciscoText-RegularItalicG1</string>
	<string>SanFranciscoText-RegularItalicG2</string>
	<string>SanFranciscoText-RegularItalicG3</string>
	<string>SanFranciscoText-Semibold</string>
	<string>SanFranciscoText-SemiboldItalic</string>
	<string>SanFranciscoText-Thin</string>
	<string>SanFranciscoText-ThinItalic</string>
</array>
</plist>
