

<p> Your destination for tracking your time. </p>

<h2> Pricing </h2>

<!-- <img src = "/assets/dramatic-glasses.gif"
	alt = "Kid removing his sunglasses epically"> -->
<%= image_tag "dramatic-glasses.gif" %>

<p> 
	Enterprise plan:
	<strong>$1,000 per use, per month</strong>

</p>





<p> Ironhack powered </p>