<!DOCTYPE html>
<html>
<head>
	<title>Add| Online Calculator</title>
</head>

<body>
<h1>Ike's Online Calculator</h1>
<form action="/Calculate" method="POST">

<label for="number_1">First Integer:</label>	
<input type="number" name="number_1" placeholder="0"> 

<select name = "operation">
  <option value="+">Add</option>
  <option value="-">Subtract</option>
  <option value="*">Multiply</option>
  <option value="/">Divide</option>
</select>

<label for="number_2">Second Integer:</label>
 <input type="number" name="number_2" placeholder="0">

<button type="submit">Calculate</button>
</form> 
</body>


</html>