<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- general -->
	<key>been-here</key>
	<false/>

	<key>generalSimplifyInBackground</key>
	<false/>
	<key>bring-front</key>
	<false/>
	<key>play_sounds</key>
	<false/>
	<key>check-version</key>
	<true/>
	<key>generalPorkAndPoultryEnhancementTechnology</key>
	<false/>
	<key>generalGuidesAndFramesScreen</key>
	<integer>1</integer>
	<key>generalReportMeasurements</key>
	<integer>1</integer>
	<key>generalStayInSpace</key>
	<false/>

	<key>generalStatusbarShowMirror</key>
	<true/>
	<key>generalStatusbarShowText</key>
	<true/>
	<key>statusbar-measure</key>
	<true/>
	<key>statusbar-rulers</key>
	<true/>
	<key>generalStatusbarShowOverlay</key>
	<true/>
	<key>statusbar-screens</key>
	<true/>
	<key>statusbar-loupe</key>
	<true/>
	<key>statusbar-guides</key>
	<true/>
	<key>statusbar-frames</key>
	<true/>
	<key>statusbar-crosshair</key>
	<true/>
	<key>generalStatusbarSingleItem</key>
	<true/>

	<key>screenshotask</key>
	<integer>2</integer>
	<key>generalScreenshotFormatSelection</key>
	<integer>0</integer>
	<key>generalScreenshotQualityValue</key>
	<integer>80</integer>

	<key>toolbar</key>
	<true/>
	<key>toolbar-vertical</key>
	<false/>

	<key>helpVisible</key>
	<true/>

	<key>generalShowDockIcon</key>
	<true/>
	<key>generalAmmo</key>
	<true/>

	<!-- smart tools -->
	<key>smartToolsEnabled</key>
	<false/>
	<key>smartToolsApplicationsArray</key>
	<array/>
	<key>smartToolsHideForOthers</key>
	<true/>
	<key>smartToolsMoveFocus</key>
	<false/>
	
	<!-- mirror -->
	<key>mirrorVisible</key>
	<false/>

	<key>mirrorServerEnabled</key>
	<true/>
	<key>mirrorServerSkipsAlert</key>
	<false/>

	<!-- text -->
	<key>textVisible</key>
	<false/>
	<key>textPreviewSize</key>
	<integer>14</integer>
	<key>textDimSubstitutions</key>
	<true/>
	<key>textMeasureSize</key>
	<integer>12</integer>
	<key>textMeasureLeading</key>
	<true/>
	<key>textIncludeCommas</key>
	<true/>
	<key>textOutputFormat</key>
	<integer>0</integer>
	<key>textFont</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>enabled</key>
		<true/>
		<key>displayName</key>
		<string>Helvetica Neue</string>
		<key>familyName</key>
		<string>Helvetica Neue</string>
	</dict>
	<key>textFontChoicesArray</key>
	<array>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue</string>
			<key>enabled</key>
			<true/>
			<key>displayName</key>
			<string>Helvetica Neue</string>
			<key>familyName</key>
			<string>Helvetica Neue</string>
		</dict>
		<dict>
			<key>fontName</key>
			<string>HelveticaNeue-Bold</string>
			<key>enabled</key>
			<true/>
			<key>displayName</key>
			<string>Helvetica Neue Bold</string>
			<key>familyName</key>
			<string>Helvetica Neue</string>
		</dict>
		<dict>
			<key>fontName</key>
			<string>LucidaGrande</string>
			<key>enabled</key>
			<true/>
			<key>displayName</key>
			<string>Lucida Grande</string>
			<key>familyName</key>
			<string>Lucida Grande</string>
		</dict>
		<dict>
			<key>fontName</key>
			<string>LucidaGrande-Bold</string>
			<key>enabled</key>
			<true/>
			<key>displayName</key>
			<string>Lucida Grande Bold</string>
			<key>familyName</key>
			<string>Lucida Grande</string>
		</dict>
	</array>

	
	<!-- dimensions -->
	<key>measurevisible</key>
	<false/>
	<key>laserbeamalpha</key>
	<real>0.5</real>
	<key>measure_aspect_ratios</key>
	<false/>
	<key>control-shift-dimensions</key>
	<false/>
	<key>dimensionsEdgeSensitivity</key>
	<integer>223</integer>
	<key>dimensionsEdgePreviewStyle</key>
	<integer>0</integer>

	<!-- rulers -->
	<key>newruler-visible</key>
	<false/>
	<key>newruler-delta</key>
	<false/>
	<key>rulersDisplayMultiple</key>
	<false/>
	<key>rulersSynchronizeLength</key>
	<false/>
	<key>rulersSynchronizeAngle</key>
	<false/>

	<key>newruler-anchor</key>
	<true/>
	<key>newruler-indicators</key>
	<true/>
	<key>callipers</key>
	<true/>
	<key>rulersShowInverted</key>
	<false/>
	<key>rulersShowMarks</key>
	<false/>
	<key>rulersMarkDivisionCount</key>
	<integer>2</integer>

	<key>rulersSecondShowSecondaryRuler</key>
	<true/>
	<key>rulersSecondShowPositionIndicators</key>
	<true/>
	<key>rulersSecondShowCalipers</key>
	<true/>
	<key>rulersSecondShowInvertedColors</key>
	<false/>
	<key>rulersSecondShowAlignmentMarks</key>
	<false/>
	<key>rulersSecondAlignmentMarksCount</key>
	<integer>2</integer>

	<!-- overlay -->
	<key>overlayOpacity</key>
	<real>0.5</real>
	<key>overlayImagePath</key>
	<string></string>
	<key>overlayAlignmentMarkMaintainDistance</key>
	<integer>1</integer>
	<key>overlayImageScale</key>
	<real>1.0</real>
	<key>overlayImageOffset</key>
	<real>0.5</real>
	<key>overlayImageOffsetHorizontal</key>
	<real>0.5</real>
	
	<!-- screens -->
	<key>screens</key>
	<false/>
	<key>screenalpha</key>
	<real>0.5</real>
	
	<key>screensPlatformChromeStates</key>
	<dict/>

	<key>screensPanelCollapsed</key>
	<false/>
	
	<!-- loupe -->
	<key>loupe</key>
	<false/>
	<key>loupeHexInLowerCase</key>
	<true/>
	<key>loupeHexWithHashMark</key>
	<true/>
	<key>loupeCopySoftwareFormat</key>
	<integer>0</integer>
	<key>grid-strength</key>
	<integer>0</integer>
	
	<key>loupePanelCollapsed</key>
	<false/>
	<key>loupeColorValueFormat</key>
	<integer>0</integer>
	<key>loupeColorReferenceValueFormat</key>
	<integer>-1</integer>
	<key>loupeCaptureAtMouse</key>
	<true/>
	<key>loupeColorSpace</key>
	<integer>0</integer>
	<key>loupeShowGamutWarning</key>
	<false/>
	<key>gridlines</key>
	<true/>
	<key>crosshair</key>
	<true/>
	<key>loupeShowDimensions</key>
	<false/>

	<key>move-away</key>
	<false/>
	<key>zoom</key>
	<integer>8</integer>

	<!-- guides and frames -->
	<key>guidesvisible</key>
	<false/>
	<key>guidealpha</key>
	<real>0.5</real>

	<key>new-guides</key>
	<integer>1</integer>
	<key>guidesDisplayHorizontalAt</key>
	<integer>0</integer>
	<key>guidesDisplayVerticalAt</key>
	<integer>0</integer>
	
	<key>guidesWizardSelectedTab</key>
	<integer>0</integer>
	<key>guidesWizardNumericOrientation</key>
	<integer>0</integer>
	<key>guidesWizardNumericPosition</key>
	<integer>30</integer>
	<key>guidesWizardNumericRepeatEnabled</key>
	<false/>
	<key>guidesWizardNumericRepeat</key>
	<integer>5</integer>
	<key>guidesWizardNumericMoving</key>
	<integer>80</integer>
	<key>guidesWizardNumericGutter</key>
	<integer>0</integer>
	<key>placing-type</key>
	<integer>0</integer>

	<key>framesvisible</key>
	<false/>
	<key>framealpha</key>
	<real>0.5</real>
	<key>frames_aspect_ratios_always</key>
	<false/>
	<key>framesShowOrigin</key>
	<false/>
	
	<key>framesWizardSelectedTab</key>
	<integer>0</integer>
	<key>framesWizardNumericOriginX</key>
	<integer>100</integer>
	<key>framesWizardNumericOriginY</key>
	<integer>100</integer>
	<key>framesWizardNumericSizeWidth</key>
	<integer>240</integer>
	<key>framesWizardNumericSizeHeight</key>
	<integer>160</integer>
	<key>placing-type-frame</key>
	<integer>0</integer>

	<!-- crosshair -->
	<key>indicator</key>
	<false/>
	<key>crosshair_transparency</key>
	<real>0.5</real>
	<key>crosshairAdjustColor</key>
	<false/>
	<key>backcross</key>
	<false/>
	<key>crosshairOriginAtBottomLeft</key>
	<false/>

	<key>coordinates</key>
	<true/>
	<key>cross-follow-ruler</key>
	<false/>

	<!-- other -->
	<key>usageLastVersion</key>
	<string>0.0.0</string>
	
	<!-- hot keys -->
	<key>generalHotKeyBringToFront</key>
	<dict>
		<key>keyCode</key>
		<integer>7</integer>
		<key>modifiers</key>
		<integer>2304</integer>
	</dict>
	<key>dimensionsHotKeyScreenshot</key>
	<dict>
		<key>keyCode</key>
		<integer>26</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>dimensionsHotKeyCreateFrame</key>
	<dict>
		<key>keyCode</key>
		<integer>22</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>dimensionsHotKeyCreateGuides</key>
	<dict>
		<key>keyCode</key>
		<integer>28</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>loupeHotKeyCopyToClipboard</key>
	<dict>
		<key>keyCode</key>
		<integer>8</integer>
		<key>modifiers</key>
		<integer>6400</integer>
	</dict>
	<key>framesHotKeyStartShrinkMode</key>
	<dict>
		<key>keyCode</key>
		<integer>23</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>

</dict>
</plist>
