<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	<key>iOS</key>
	<array>
		<!-- iPhone portrait aspect ratio -->
		<dict>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>480</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>216</integer>
				</dict>

				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Header</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>40</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>260</integer>
				</dict>
			</array>
		</dict>
		
		<!-- iPhone landscape aspect ratio -->
		<dict>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>bottomInset</key>
					<integer>0</integer>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>162</integer>
				</dict>

				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>206</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
			</array>
		</dict>	

		<!-- iPhone 5 portrait aspect ratio -->
		<dict>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>568</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>216</integer>
				</dict>

				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Header</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>40</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>260</integer>
				</dict>
			</array>
		</dict>
		
		<!-- iPhone 5 landscape aspect ratio -->
		<dict>
			<key>width</key>
			<integer>568</integer>
			<key>height</key>
			<integer>320</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>bottomInset</key>
					<integer>0</integer>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>162</integer>
				</dict>

				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>206</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
			</array>
		</dict>	

		<!-- iPad portrait aspect ratio -->
		<dict>
			<key>width</key>
			<integer>768</integer>
			<key>height</key>
			<integer>1024</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>264</integer>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>96</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>308</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Lock Screen</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>127</integer>
					<key>bottomInset</key>
					<integer>127</integer>
				</dict>
			</array>
		</dict>

		<!-- iPad landscape aspect ratio -->
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>768</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>bottomInset</key>
					<integer>0</integer>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>352</integer>
				</dict>
				
				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>96</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>396</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Lock Screen</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>115</integer>
					<key>bottomInset</key>
					<integer>95</integer>
				</dict>
			</array>
		</dict>
	</array>

	<key>iOS 6</key>
	<array>
		<!-- iPhone portrait aspect ratio -->
		<dict>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>480</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>216</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>80</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>260</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Lock Screen</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>115</integer>
					<key>bottomInset</key>
					<integer>95</integer>
				</dict>
			</array>
		</dict>
		
		<!-- iPhone landscape aspect ratio -->
		<dict>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>bottomInset</key>
					<integer>0</integer>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>162</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>80</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>194</integer>
				</dict>
			</array>
		</dict>
		
		<!-- iPhone 5 portrait aspect ratio -->
		<dict>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>568</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>216</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>80</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>260</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Lock Screen</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>115</integer>
					<key>bottomInset</key>
					<integer>95</integer>
				</dict>
			</array>
		</dict>
		
		<!-- iPhone 5 landscape aspect ratio -->
		<dict>
			<key>width</key>
			<integer>568</integer>
			<key>height</key>
			<integer>320</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>bottomInset</key>
					<integer>0</integer>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>162</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>80</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>194</integer>
				</dict>
			</array>
		</dict>
		
		<!-- iPad portrait aspect ratio -->
		<dict>
			<key>width</key>
			<integer>768</integer>
			<key>height</key>
			<integer>1024</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>264</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>96</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>308</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Lock Screen</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>127</integer>
					<key>bottomInset</key>
					<integer>127</integer>
				</dict>
			</array>
		</dict>
		
		<!-- iPad landscape aspect ratio -->
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>768</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>20</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Navigation Bar</string>
					<key>bottomInset</key>
					<integer>0</integer>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>64</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Toolbar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>44</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Tab Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>352</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>96</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>396</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Lock Screen</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>115</integer>
					<key>bottomInset</key>
					<integer>95</integer>
				</dict>
			</array>
		</dict>
	</array>

	<key>Android</key>
	<array>
		<!-- low dpi aspect ratio -->
		<dict>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>320</integer>
			<key>isMinimum</key>
			<true/>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>19</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>62</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>149</integer>
				</dict>
			</array>
		</dict>

		<!-- medium dpi aspect ratio -->
		<dict>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>480</integer>
			<key>isMinimum</key>
			<true/>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>25</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>82</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Address Bar (New)</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>80</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>202</integer>
				</dict>
			</array>
		</dict>

		<!-- high dpi aspect ratio -->
		<dict>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>800</integer>
			<key>isMinimum</key>
			<true/>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>38</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>122</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Keyboard</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>302</integer>
				</dict>
			</array>
		</dict>

		<!-- tablet landscape aspect ratio -->
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>600</integer>
			<key>isMinimum</key>
			<true/>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>48</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Browser Tabs</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>56</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>104</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>

		<!-- tablet portrait aspect ratio -->
		<dict>
			<key>width</key>
			<integer>600</integer>
			<key>height</key>
			<integer>1024</integer>
			<key>isMinimum</key>
			<true/>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Status Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>48</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Browser Tabs</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>56</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Address Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>103</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
	
	<key>Windows</key>
	<array>
		<!-- all aspect ratios -->
		<dict>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Task Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Scroll Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>25</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>IE 9</string>
					<key>leftInset</key>
					<integer>8</integer>
					<key>rightInset</key>
					<integer>8</integer>
					<key>topInset</key>
					<integer>60</integer>
					<key>bottomInset</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Chrome</string>
					<key>leftInset</key>
					<integer>5</integer>
					<key>rightInset</key>
					<integer>5</integer>
					<key>topInset</key>
					<integer>77</integer>
					<key>bottomInset</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Firefox</string>
					<key>leftInset</key>
					<integer>8</integer>
					<key>rightInset</key>
					<integer>8</integer>
					<key>topInset</key>
					<integer>91</integer>
					<key>bottomInset</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Opera</string>
					<key>leftInset</key>
					<integer>8</integer>
					<key>rightInset</key>
					<integer>8</integer>
					<key>topInset</key>
					<integer>89</integer>
					<key>bottomInset</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>IE 8 (XP)</string>
					<key>leftInset</key>
					<integer>6</integer>
					<key>rightInset</key>
					<integer>6</integer>
					<key>topInset</key>
					<integer>125</integer>
					<key>bottomInset</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>IE 7 (XP)</string>
					<key>leftInset</key>
					<integer>6</integer>
					<key>rightInset</key>
					<integer>6</integer>
					<key>topInset</key>
					<integer>98</integer>
					<key>bottomInset</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>IE 6 (XP)</string>
					<key>leftInset</key>
					<integer>6</integer>
					<key>rightInset</key>
					<integer>6</integer>
					<key>topInset</key>
					<integer>118</integer>
					<key>bottomInset</key>
					<integer>59</integer>
				</dict>
			</array>
		</dict>
	</array>
	
	<key>Mac</key>
	<array>
		<!-- all aspect ratios -->
		<dict>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Menu Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>22</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Dock</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>91</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Scroll Bar</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>15</integer>
					<key>topInset</key>
					<integer>0</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari (Full Screen)</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>40</integer>
					<key>bottomInset</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Safari</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>94</integer>
					<key>bottomInset</key>
					<integer>91</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Chrome</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>94</integer>
					<key>bottomInset</key>
					<integer>91</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Firefox</string>
					<key>leftInset</key>
					<integer>0</integer>
					<key>rightInset</key>
					<integer>0</integer>
					<key>topInset</key>
					<integer>109</integer>
					<key>bottomInset</key>
					<integer>91</integer>
				</dict>
			</array>
		</dict>
	</array>

	<key>TV</key>
	<array>
		<!-- HD aspect ratio -->
		<dict>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>9</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>Adobe Action Safe</string>
					<key>verticalPercent</key>
					<real>5.0</real>
					<key>horizontalPercent</key>
					<real>5.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>Adobe Title Safe</string>
					<key>verticalPercent</key>
					<real>10.0</real>
					<key>horizontalPercent</key>
					<real>10.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>Adobe 4:3 Action Safe</string>
					<key>verticalPercent</key>
					<real>10.0</real>
					<key>horizontalPercent</key>
					<real>16.25</real>
				</dict>
				<dict>
					<key>name</key>
					<string>Adobe 4:3 Title Safe</string>
					<key>verticalPercent</key>
					<real>10.0</real>
					<key>horizontalPercent</key>
					<real>20.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>BBC Action Safe</string>
					<key>verticalPercent</key>
					<real>3.5</real>
					<key>horizontalPercent</key>
					<real>3.5</real>
				</dict>
				<dict>
					<key>name</key>
					<string>BBC Title Safe</string>
					<key>verticalPercent</key>
					<real>5.0</real>
					<key>horizontalPercent</key>
					<real>10.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>BBC 4:3 Action Safe</string>
					<key>verticalPercent</key>
					<real>3.5</real>
					<key>horizontalPercent</key>
					<real>15.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>BBC 4:3 Title Safe</string>
					<key>verticalPercent</key>
					<real>5.0</real>
					<key>horizontalPercent</key>
					<real>17.5</real>
				</dict>
			</array>
		</dict>

		<!-- SD aspect ratio -->
		<dict>
			<key>width</key>
			<integer>4</integer>
			<key>height</key>
			<integer>3</integer>
			<key>chrome</key>
			<array>
				<dict>
					<key>name</key>
					<string>BBC Action Safe</string>
					<key>verticalPercent</key>
					<real>3.5</real>
					<key>horizontalPercent</key>
					<real>3.3</real>
				</dict>
				<dict>
					<key>name</key>
					<string>BBC Title Safe</string>
					<key>verticalPercent</key>
					<real>5.0</real>
					<key>horizontalPercent</key>
					<real>6.7</real>
				</dict>
				<dict>
					<key>name</key>
					<string>Game Safe Area</string>
					<key>verticalPercent</key>
					<real>7.5</real>
					<key>horizontalPercent</key>
					<real>7.5</real>
				</dict>
			</array>
		</dict>
	</array>

	<key>Other</key>
	<array>
		<!-- all aspect ratios -->
		<dict>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>chrome</key>
			<array>
			</array>
		</dict>
	</array>
	
</dict>
</plist>
