<ul>
<% @projects.each do |project| %>
	<li>
	<%= link_to project.name, "/projects/#{project.id}" %>
	<!-- <a href="/projects/7777"> Papa John's Virtual Pizza </a> -->
	
	<% if project.description.present? %>
	- <%= project.description%></li>

	<%end%>
	</li>
	<%end%>

</ul>

<%= link_to "Create a new project", projects_new_path %>