// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notice{
	background: #37e6a2;
	color:333;
	padding: 15px;
}

.alert{
	background: #e62423;
	color:#fff;
	border-radius:3px;
	padding:15px;
}