<% if Date.today.tuesday? %>
<p>
 This is all about me
  </p>
  <% end %>

 <% if Date.today.monday? %>
<p>
 Hate Mondays.
  </p>

  <% else %>
  <p>
  Izzy Ironside was born on
   <%= Time.now %> 
   </p>
 
  <% end %>