<h1> My first app </h1>

<%= @drank %>

<ul>
	<li>
	<a href = "/"> Home </a>
	</li>

	<li>
	<a href = "/hi"> Hello </a>
	</li>

	<li>
	<a href = "/about"> About </a>
	</li>

	<li> 
	<a href = "best_pizza"> Pizza </a>
	</li>
	
</ul>