<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <title>Clinics |MD</title>
</head>
<body>
<div class="container">
	<h1> Welcome User </h1>
</div><!-- container -->

<script src="/assets/jquery.slim.min.js"></script>
<script src="/assets/popper.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
</body>
</html>


<!-- <h1> Welcome [User]! </h1>


<iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/ab9cc5df-bcc3-466e-8280-d3631530137c">
</iframe>


<p> powered by Clinics M.D. </p> -->