<!doctype html>
	<html>
		<head>
		<meta charset ="utf = 8" >
			<title> Movie Trivia </title>
		</head>
		<body>

		<h1> Welcome to Ike's Movie game! </h1>
		<p> The movie guessing game </p>

			<form method = "get" action = "/search_results">
			<label for="keyword">Type in any word or phrase from a movie title: </label>
			<input type = "text" name = "keyword"> 
			<button type = "submit" > Submit </button>

</form>
</body>
</html>